.solid
{
    border-style: solid groove dotted;
    border-width: 20px 5px 100px 200px;
    border-color: brown #6a00ff black gray;
}
.groove 
{
    border: 5px solid red;

}
.dotted
{
    border-style: dotted;
}
.dashed
{
    border-style: dashed;
}
.double
{
    border-style: double;
}
.ridge
{
    border-style: ridge;
}
.inset
{
    border-style: inset;
}
.outset
{
    border-style: outset
}
.none
{
    border-style: none;
}
.hidden
{
    border-style: hidden;
}